
.q-drawer-menu-content {
  //background-color: $dark;
  background: rgba(6, 144, 196, 0.39) !important;
  background: -moz-linear-gradient(180deg, rgba(6,144,196,1) 0%, rgba(18,175,179,0.28335084033613445) 100%, rgba(6,144,196,1) 100%) !important;;
  background: -webkit-linear-gradient(180deg, rgba(6,144,196,1) 0%, rgba(18,175,179,0.28335084033613445) 100%, rgba(6,144,196,1) 100%) !important;;
  background: linear-gradient(180deg, rgba(6,144,196,1) 0%, rgba(18,175,179,0.28335084033613445) 100%, rgba(6,144,196,1) 100%) !important;;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0690c4",endColorstr="#0690c4",GradientType=1) !important;
}

.q-drawer-items-active {
  background-color: #fde300;
  color: #130505;
}

.q-drawer-button-close {
  background-color: white !important;
  color: $dark !important;
  box-shadow: 0 0 5px 0.1px black;
}

.q-drawer-separator {
  color: white;
}
